<!-- This, along with any other {} are part of the template language -->
{% extends 'products/header.html' %}
{% load static %}
{% load pagination_tags %}

{% block content %}
    <h1 class="ms-4">Index</h1>
    {% for product in product_list %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if product.first_photo_url %}
                        <img src="{{ product.first_photo_url }}" class="img-fluid rounded-start" alt="{{ product.product_name }}">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" class="img-fluid rounded-start" alt="{{ product.product_name }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{% url 'products:details' product.id %}" class="card-link text-decoration-none" style="color: inherit;">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                        </a>
                        <p class="card-text">{{ product.product_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% if is_paginated %}
        {% pagination_links_main page_obj %}
    {% endif %}
{% endblock %}
