{% extends 'products/header.html' %}
{% load pagination_tags %}

{% block content %}
    <h2>Reviews</h2>
    <div class="list-group">
        {% for review in review_list %}
            <div class="list-group-item">
                <p class="mb-1">{{ review.review_content }}</p>
                <p class="mb-0">
                    <small class="text-muted">Posted {{ review.review_publish_date }}</small>
                </p>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% pagination_links_reviews page_obj %}
    {% endif %}
{% endblock %}