{% extends 'products/header.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <style>
        .signup-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120vh; /* set the height of the container to fill the viewport */
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            margin-top: -100px;
        }

        .container {
            box-sizing: border-box;
            border: 0.5px solid rgb(164, 162, 162);
            background-color: #fff;
            padding: 20px;
            max-width: 300px;
            margin-top: 20px;
            border-radius: 3px;
            width: 100%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        .log-in-redirect {
            margin-top: 25px;
            font-size: 12px;
        }

        .log-in-redirect a {
            color: rgb(0, 76, 255);
        }

        label {
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 5px;
            color: rgb(41, 39, 39);
            font-size: 14px;
        }

        .user-agreement{
            font-size: 12px;
            margin-top: 25px;
            color: darkgray;
        }

        .user-agreement a {
            color: rgb(0, 76, 255);
        }

        input {
            height: 27px;
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .intro-text {
            margin-bottom: 20px;
            font-size: 24px;
            color: rgb(41, 39, 39);
        }

        button {
            background-color: #1f8fd0;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="signup-container">
        <div class="intro-text">
            Create your Selecto account. It's free and only takes a minute!
        </div>
        <div class="account_signup">
            {% load socialaccount %} 
            <a href="{% provider_login_url 'google' process='login' %}?next={{ request.GET.next|urlencode }}}">Log in with Google</a>
        </div>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.username.id_for_label }}">Username:</label>
                  {{ form.username }}
                </div>
                <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Email:</label>
                  {{ form.email }}
                </div>
                <div class="form-group">
                  <label for="{{ form.password1.id_for_label }}">Password:</label>
                  {{ form.password1 }}
                </div>
                <div class="form-group">
                  <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
                  {{ form.password2 }}
                </div>
                <button type="submit" name="submit">Sign up</button>
                <div class="user-agreement">
                  By clicking "Sign up", you agree to our 
                  <a href="" name="tos" target="_blank" class="-link">terms of service</a>,
                  <a href="" name="privacy" target="_blank" class="-link">privacy policy</a>
                  and 
                  <a href="" name="cookie" target="_blank" class="-link">cookie policy</a>.
                </div>
              </form>
              
          </div>
          <div class="log-in-redirect">
            Already have an account? 
            <a href="{% url 'products:login' %}"> Log in</a>
          </div>
    </div> 
{% endblock %}
